.container{
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
}

#target{
    aspect-ratio: 1/1;
    width: 100%;
    height: auto;
    max-width: 800px;
    max-height: 800px;
}
